/* 
* Breakpoints
* Its better to use them in EM, because there are proportionnal, not like PX.
* In our case, because we tweek the html fontsize to 62.5%, our EM base is 18px.
* Tweak it or extend it in order to fit your project.
*/

$breakpoints: (
    'screen-xs': 450px,
    'screen-sm': 740px,
    'screen-md': 980px,
    'screen-lg': 1100px,
    'screen-xl': 1300px
);

/* 
* Fonts Families
*/

$font-body: Georgia, Times, "Times New Roman", serif;
$font-title: "Helvetica Neue", Helvetica, Arial sans-serif;

/*
* Colors
*/

$brand-primary: #3498db;
$brand-secondary: #27ae60;
$brand-action: #d35400;
$text-regular: #333333;
$text-title: #000000;
$neutral-element: #bdc3c7;

$link-color: $brand-primary;
$border-color: $neutral-element;